* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {

    background-color: #ebebeb;
}

.header {
    font-size: 2rem;
    padding-top: 1em;
    background: #fff;
    box-shadow: 1px #E1E1E1;
}

.mob-text {
    display: none;
}

.first-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;

}

.city {
    display: flex;
    gap: 1em;
    padding-left: 1em;
}

.city-text {
    font-family: Golos;
    line-height: 1.6em;
    text-align: left;
    color: #76767A;
    font-size: 1em;

}

.angle-down {
    color: #b3b3b3;
    padding-top: 0.3em;
    border-style: none;
    background: none;
    font-size: 0.7em;
}

.temperature {
    display: flex;
    gap: 0.5em;
    padding-top: 0.08em;

}

.first-line .fa-cloud-showers-heavy {
    color: #b3b3b3;
    padding-top: 0.5em;
    font-size: .8em;
}

.temp-text {
    font-family: Golos;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.6em;
    text-align: left;
    color: #666666;
}

.head-text {
    font-family: Golos;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1em;
    letter-spacing: 0.23630349338054657px;
    text-align: center;
    color: #000000;
    padding-top: 5px;
    display: block;
}

.enter {
    display: flex;
    gap: 2em;
}

.fa-user {
    padding-top: .5em;
    color: #9C9C9C;
    font-size: .9em;

}

.enter-text {
    font-family: Golos;
    font-size: .9em;
    font-weight: 500;
    line-height: 1em;
    text-align: left;
    color: #999999;
    border-style: none;
    background: none;
    padding-right: 1.5em;
    padding-top: 0.18em;

}

.second-line {

    display: flex;
    justify-content: space-between;
    border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
    background: #fff;

}


.menu-btn {
    background: none;
    border: none;

}

.fa-bars {
    padding: 2em 3.5em 1.7em 1.7em;
    font-size: 1em;
    color: #999999;
    padding-right: 1px solid #e1e1e1;
    border-right: 0.1em solid hsl(0, 0%, 0%, 0.1);
}

.second-line ul {
    display: flex;
    gap: 2em;
    padding: .9em 1em 0.8em 3.9em;
    list-style: none;
}

.second-line li a {
    font-family: Golos;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1em;
    text-align: left;
    color: #76767A;
    text-decoration: none;
}

.second-line li .active {
    color: #333333;
    padding-bottom: 1em;
    border-bottom: 0.18em solid #1875F0;
}

.fa-magnifying-glass {
    padding: 2em 2.8em 1.5em 2.5em;
    font-size: 0.7em;
    color: #999999;
    border-left: 0.1em solid hsl(0, 0%, 0%, 0.1);

}

.search input {
    display: none;
}

.container {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    margin: 0.5em auto 0 auto;
    width: 80%;
    gap: 0.5em;
}

.main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.pages {
    border-bottom: 0.1em solid #E1E1E1;
    display: flex;
    gap: 0.5em;
    list-style: none;
    font-family: Golos;
    font-size: .15em;
    font-weight: 400;
    line-height: 0.5em;
    text-align: left;
    padding-bottom: 1em;
}

.pages a {
    text-decoration: none;
    color: #000000;
}



ul li .active2 {
    text-decoration: underline;
    color: #000000;
}


ul li .third {
    color: #9e9e9e;
}


.add-file {
    padding-top: 0.25em;
    font-family: Golos;
    font-size: 0.3em;
    font-weight: 400;
    text-align: left;
    color: #333333;
}


.first-section {
    border: 4px dashed #AFAFAF;
    margin-top: 0.2em;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    border-radius: 0.1em;
    background: #fff;
}

.plus-section {
    font-size: 1em;
    text-align: center;
}



.plus {
    width: 0.3em;
    height: 0.3em;
}

.plus-text {
    font-size: 0.25em;
}

.format-section {
    font-size: 1.2em;
    text-align: center;
    line-height: 0.3em;

}

.format {
    font-size: 0.2em;
}


.format-type {
    font-size: 0.1em;
}


.second-section {
    margin-top: 1em;
    background: #fff;
    padding: .5em 0.5em 0 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#first-inp {
    padding: 1.3em 1.3em 1.3em 2em;
    width: 100%;
    border: 0.2em solid #9999992c;
    box-shadow: 0.01em #9999992c;
    border-radius: 0.5em;
    font-size: 0.15em;
}


.input-line {
    display: flex;
    gap: 2em;
}

#second-inp {
    padding: 1.2em 1.2em 1.2em 2em;
    text-align: left;
    font-size: 0.15em;
    border: 0.15em solid #9999992c;
    box-shadow: 0.7em #9999992c;
    border-radius: 0.5em;
}

.kot {
    border: 0.01em solid #999999;
    display: flex;
    align-items: center;
    background: #fff;
    padding-left: 3em;
    border-radius: 0.7em;
    border: 0.3em solid #9999992c;
    box-shadow: 0.7em #9999992c;
    font-size: 0.08em
}


.kot-text {
    width: 4em;
    height: 2em;
    display: flex;
    font-size: 0.15em;
    background: #4e4d4d8e;
    padding: 0.1em 0.7em 0.1em 0.7em;
    background: #dfdfdf;
    border-radius: 1em;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em
}

.kot img {
    width: 0.7em;
    height: 0.6em;


}


#kot-line {
    text-align: left;
    border: none;
    padding-left: 1em;

}

.message-select {
    width: 20em;
    height: 10em;
    border: 0.01em solid #AFAFAF;
    margin-top: 0.3em;
    background: #EFEFEFCC;
    display: flex;
    padding-bottom: 5em;
}

.message-first {
    font-size: 1em;
}

.message-second {
    display: none;
}

.cancel {
    width: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #1875F0;
    padding: 0 2em 0 2em;
    border-radius: 0.5em;
    background: #fff;


}

.cancel-text {
    font-size: 0.8em;
    padding: 0 0.5em 0 1.5em;
    color: #1875F0;
}

#message1 {
    padding: 1.5em 0 4em 2em;
    width: 100%;
    border: 0.2em solid #9999992c;
    box-shadow: 0.01em #9999992c;
    color: #000000;
    border-radius: 0.5em;
}

.message-select {
    padding: 2em 3em 2em 3em;
    width: 100%;
    height: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.2em solid #9999991c;
    box-shadow: 0.01em #9999992c;
    border-radius: 0.5em;

}



.message-select .fa-angle-down {
    color: #AFAFAF;
}


.send-btn {
    margin: 0 0 3em 3em;
    border-radius: 0.5em;
    width: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1875F0;
    box-shadow: 0.1em 0.1em 0.1em 0.1em #1875F0;
    color: #FFFFFF;
    border: none;

}

.send {
    padding: 1.3em 1em 1.3em 1em;
    font-size: 1em;
}

.column {
    font-size: 0.3em;
    padding: 0 0 0.4em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.weather {
    background: #fff;
    border: 0.01em solid #E1E1E1;
    box-shadow: 0.02em 0.02em #E1E1E1;
    border-radius: 0.5em;
    margin-bottom: 0.8em;
}

.weather-header {
    font-size: 0.6em;
    padding: 1.3em .7em 1.3em .7em;
    font-family: Golos;
    font-weight: 500;
    line-height: 0.01em;
    text-align: left;
    color: #000000;
    border-bottom: 0.01em solid #E1E1E1;
    display: flex;
    justify-content: space-between;
}

.weather-text {
    padding-top: 0.2em;
}

.points {
    font-size: 1.5em;
    color: #D8D8D8;
}

.weather-temp {
    font-size: 0.6em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

.weather-temp .fa-cloud-showers-heavy {
    color: #1875F0;
}

.weather-texts1 {
    padding: 1em 0 0.3em 0;
    font-family: Golos;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 0.5em;
    text-align: center;
}

.weather-texts2 {
    /* padding: 15px 60px 0 65px; */
    padding-top: 1em;
    font-family: Golos;
    font-size: 0.4em;
    font-weight: 400;
    line-height: 1em;
    text-align: center;
}

.weather-texts2 span {
    padding: 0.1em;
}

.forecast {
    padding: 0.2em 0.2em;
    width: 7em;
    margin: 1em auto;
    border: 0.05em solid #e6f1fff5;
    border-radius: 0.2em;
}

.forecast-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Golos;
    font-size: 0.3em;
    font-weight: 500;
    line-height: 5em;
    letter-spacing: 0.40194278955459595px;
    text-align: left;
    color: #1875F0;
}

.weather-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    padding: 0.7em 0 1em 0;
    border-top: 0.01em solid #E1E1E1;
}

.otmena {
    font-size: 0.6em;
    font-family: Golos;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    color: #D86E28;
}

.class {
    font-size: .6em;
}

.map {
    width: 10em;
    border-radius: 0.5em;
    border: 0.01em solid #E1E1E1;
    box-shadow: 0.02em 0.02em #E1E1E1;
    margin-bottom: 1em;

}

.map-header {
    height: 5em;
    font-size: 0.4em;
    background: #fff;
    padding: 0.3em 1em 0.3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;

}

.status {

    font-size: 1.5em;
    padding-top: 0.3em;
}


.map-points {
    padding-bottom: 0.3em;
    font-size: 2.5em;
    color: #D8D8D8;
}

.map-text {
    background: url("https://www.shutterstock.com/shutterstock/photos/1871394598/display_1500/stock-vector--ity-map-paris-color-detailed-urban-road-plan-vector-illustration-1871394598.jpg");
    border: 0.01em solid #E1E1E1;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    padding: 5em 0 0 0.5em;
    height: 9em;
}


.about {
    border-radius: 0.5em;
    background: #1875F0;
    padding: 0.9em 2.5em;
    border: none;
    width: 12em;
    margin: 0 0 2em 4em;
}

.about-text {
    text-transform: uppercase;
    color: #fff;
}

.airways {
    font-size: 1em;
    border: 0.01em solid #E1E1E1;
    box-shadow: 0.02em 0.02em #E1E1E1;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    width: 10em;
}

.airways-header {
    display: flex;
    padding: 0.7em 0.5em 0.7em 0.5em;
    justify-content: space-between;
    border-bottom: 0.02em solid #E1E1E1;
}

.airways-text {
    font-family: Golos;
    font-size: 0.7em;
    font-weight: 500;
    line-height: 2em;
    text-align: left;
    color: #000000;
}

.airways-points {
    font-size: 1em;
    color: #D8D8D8;
}

.fly-first {
    padding: 0.5em 0 0.7em 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.01em solid #E1E1E1;
    display: flex;
    padding-bottom: 0.5em;
}


.fly1-text1 {
    font-family: Golos;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 3.5em;
    text-align: left;
}

.fly1-text2 {
    font-family: Golos;
    font-size: 0.4em;
    font-weight: 400;
    line-height: .3em;
    text-align: left;
}

.fly1-icon {
    padding: 0.6em;
    color: green;
}


.fly2-text1 {
    font-family: Golos;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 53.5px;
    padding-left: 35px;
}

.fly2-text2 {
    font-family: Golos;
    font-size: 0.4em;
    font-weight: 400;
    line-height: .3em;
    text-align: left;
}

.fly-second {
    padding: 0..7em 0 0.9em 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 0.01em solid #E1E1E1;
    display: flex;
    padding-bottom: 0.5em;

}

.fly3-text1 {
    font-family: Golos;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 3.5em;
    text-align: left;
}

.fly3-text2 {
    font-family: Golos;
    font-size: 0.4em;
    font-weight: 400;
    line-height: .3em;
    text-align: left;
}

.fly3-icon {
    padding: 0.5em 0 0 0.5em;
}

.fly4 {
    padding: 0 0 .5em 0;
}

.fly4-text1 {
    font-family: Golos;
    font-size: 0.5em;
    font-weight: 500;
    line-height: 3.5em;
    text-align: right;
}

.fly4-text2 {
    font-family: Golos;
    font-size: 0.4em;
    font-weight: 400;
    line-height: 0.3em;
    text-align: right;
}

.regis {
    padding: 2em 0 2.5em 0.5em;
    font-size: 0.5em;
    color: #1875F0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.container2 {
    /* padding: 0.9em 1em 0 4em; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-footer {
    margin-top: 3em;
    font-size: 2rem;
    background: #fff;
    border: 1px solid #E1E1E1;
    padding: 0.5em 0.5em 0.5em 3em;

}


.portal {
    font-family: Golos;
    font-weight: 900;
    line-height: 2em;
    letter-spacing: 0.19638599455356598px;
    text-align: left;
}

.page-footer ul {
    display: flex;
    list-style: none;
    gap: 1.5em;
    padding-left: 8em;
}

.page-footer li {
    color: #76767A;

}

.page-footer .active {
    color: #000000;
}

@media (max-width: 1100px) {

    .header {
        font-size: 5rem;
        background: #fff;
        padding: 0;
        padding: 0 0.5em;

    }

    .first-line {
        display: none;

    }

    .second-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .mob-text {
        font-size: 0.5em;
        display: block;

    }

    .first-line,
    .second-line ul,
    .pages {
        display: none;
    }

    .fa-bars {
        padding: 0;
        font-size: 1.5em;
        border: none;
        color: #999999;
    }

    .fa-magnifying-glass {
        padding: 0;
        padding-bottom: 1.3em;
        font-size: 0.4em;
        color: #999999;
        border: none;
        margin: 0;
    }


    .container {
        display: flex;
        font-size: 2rem;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin: 0.1em auto 0;
    }


    .add-file {
        padding: 1em 0;
        font-family: Golos;
        font-size: 0.7em;
        font-weight: 400;
        text-align: left;
        color: #333333;
    }

    .first-section {
        border: 4px dashed #AFAFAF;
        margin-top: 0.2em;
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        border-radius: 0.1em;
        background: #fff;
    }

    .plus-section {
        text-align: center;
    }

    .plus {
        width: 0.7em;
        height: 0.7em;
    }

    .plus-text {
        font-size: 0.7em;
    }

    .format-section {
        font-size: 2.8em;
        text-align: center;
        line-height: 0.3em;

    }

    .format {
        font-size: 0.25em;
    }


    .format-type {
        font-size: 0.17em;
    }


    .second-section {
        margin-top: 1em;
        background: #fff;
        padding: .5em 0.5em 0 0.5em;
        display: flex;
        flex-direction: column;
        gap: 0.3em;
    }

    #first-inp {
        padding: 1.3em 1.3em 1.3em 2em;
       
        border: 0.2em solid #9999992c;
        box-shadow: 0.01em #9999992c;
        border-radius: 0.5em;
        font-size: 0.5em;
        margin-bottom: 0.8em;
    }


    .input-line {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
    }


    #second-inp {
        padding: 1.2em 1.2em 1.2em 2em;
        text-align: left;
        font-size: 0.5em;
        border: 0.2em solid #9999992c;
        box-shadow: 0.5em #9999992c;
        border-radius: 0.5em;
    }

    .kot {
        border: 0.01em solid #999999;
        display: flex;
        align-items: center;
        background: #fff;
        padding: 0.2em 1em 0.2em 0.5em;
        border-radius: 0.15em;
        border: 0.09em solid #9999992c;
        box-shadow: 0.15em #9999992c;
        font-size: 1.5em
    }


    .kot-text {
        display: flex;
        font-size: 0.15em;
        background: #4e4d4d8e;
        padding: 0.5em 3em 0.5em 0.8em;
        background: #dfdfdf;
        border-radius: 1em;
        justify-content: space-between;
        align-items: center;
        font-size: 0.4em
    }

    .kot img {
        width: 0.9em;
        height: 0.6em;
        padding-left: 0.5em;
    }


    #kot-line {
        text-align: left;
        border: none;
        padding-left: 1em;
    }

    .cancel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid #1875F0;
        padding: 0 2em 0 2em;
        border-radius: 0.5em;
        background: #fff;
        margin-bottom: 0.8em;

    }

    .cancel-text {
        font-size: 0.8em;
        padding: 1.2em 0.5em 1.2em 1.5em;
        color: #1875F0;
    }

    .message-select {
        padding: 2em 3em 2em 3em;
        width: 100%;
        height: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.2em solid #9999991c;
        box-shadow: 0.01em #9999992c;
        border-radius: 0.5em;
        margin: 0.8em 0 3em 0;

    }

    .message-first {
        display: none;
    }

    .message-second {
        display: block;
        font-size: 0.8em;
    }  

    .send-btn {
        width: 100%;
        margin: 0 0 2.5em 0;
        
        border-radius: 0.5em;
        /* width: 15em; */
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1875F0;
        box-shadow: 0.1em 0.1em 0.1em 0.1em #1875F0;
        color: #FFFFFF;
        border: none;

    }

    .send {
        padding: 1.3em 1em 1.3em 1em;
        font-size: 1em;
    }

    .column{
        display: none;
    }

    .page-footer {
        padding: 0.5em 0.5em 0.5em 0.8em;
        margin-top: 3em;
        font-size: 3rem;
        padding-bottom: 3em;
    }

    .container2 {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .portal {

        padding: 1em 0 0 0.01em;
        font-family: Golos;
        font-size: 0.7em;
        font-weight: 900;
        line-height: 1em;
        letter-spacing: 0.19638599455356598px;
        text-align: left;

    }

    .container2 ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 0.6em;
        padding-left: 0.01em;
    }

}