* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {

    background-color: #ebebeb;
}

.header {
    font-size: 2rem;
    padding-top: 1em;
    background: #fff;
    box-shadow: 1px #E1E1E1;
}

.mob-text {
    display: none;
}

.first-line {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;

}

.city {
    display: flex;
    gap: 1em;
    padding-left: 1em;
}

.city-text {
    font-family: Golos;
    line-height: 1.6em;
    text-align: left;
    color: #76767A;
    font-size: 1em;

}

.angle-down {
    color: #b3b3b3;
    padding-top: 0.3em;
    border-style: none;
    background: none;
    font-size: 0.7em;
}

.temperature {
    display: flex;
    gap: 0.5em;
    padding-top: 0.08em;

}

.first-line .fa-cloud-showers-heavy {
    color: #b3b3b3;
    padding-top: 0.5em;
    font-size: .8em;
}

.temp-text {
    font-family: Golos;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.6em;
    text-align: left;
    color: #666666;
}

.head-text {
    font-family: Golos;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1em;
    letter-spacing: 0.23630349338054657px;
    text-align: center;
    color: #000000;
    padding-top: 5px;
    display: block;
}

.enter {
    display: flex;
    gap: 2em;
}

.fa-user {
    padding-top: .5em;
    color: #9C9C9C;
    font-size: .9em;
}

.enter-text {
    font-family: Golos;
    font-size: .9em;
    font-weight: 500;
    line-height: 1em;
    text-align: left;
    color: #999999;
    border-style: none;
    background: none;
    padding-right: 1.5em;
    padding-top: 0.18em;
}

.second-line {
    display: flex;
    border-top: 1px solid hsl(0, 0%, 0%, 0.1);
    border-bottom: 1px solid hsl(0, 0%, 0%, 0.1);
    box-shadow: 1em #e1e1e1;
    background: #fff;

}

.menu-btn {
    background: none;
    border: none;
}

.fa-bars {
    padding: 2em 3.5em 1.7em 1.7em;
    color: #999999;
    padding-right: 1px solid #e1e1e1;
    border-right: 0.1em solid hsl(0, 0%, 0%, 0.1);
}


.fa-magnifying-glass {
    font-size: 0.4em;
    padding: 0 0.5em;
    height: 2em;
}

.search {
    width: 80%;
    margin-left: 6em;
    /* border: 1px solid #E1E1E1; */
    padding: 0.5em 0;

}

.search-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5em 0 0.5em;
    box-shadow: 0.05em 0.05em 0.05em 0.05em #E1E1E1;
    width: 100%;
    height: 2.2em;
    border: none;
}



.glass {
    border: none;
    font-size: 1.5em;
    padding: 0 0.5em 0 0;
    background: #fff;
    border: none;
    color: blue;
}

#search-text {
    width: 90%;
    padding: 0.5em 0 0.5em 0;
    border: none;
}

.xmark {
 
    background: #fff;
    color: #999999;
    border: none;
    font-size: 0.7em;
}

.mob-xmark {
    display: none;
}

.main {
    display: none;
}

@media (max-width: 1100px) {

    .header {
        font-size: 5rem;
        background: #fff;
        padding: 0;
    }

    .first-line {
        display: none;
    }

    .second-line {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.4em 0.5em 0.4em .5em;
    }



    .mob-text {
        display: block;
        font-size: 0.4em;

    }

    .xmark {
        display: none;
    }

    .mob-xmark {
        display: block;
        background: #fff;
        border: none;
        font-size: 0.4em;
        color: #999999;
    }


    .fa-bars {
        padding: 0;
        font-size: 1.5em;
        border: none;
        color: #999999;
    }

    .fa-magnifying-glass {
        font-size: 1em;
        color: blue;
    }

    .main-glass {
        border: none;
        background: #fff;
        padding-top: 1.1em;
    }

    .search {
        display: none;
    }

    .search-line {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    #main-text {
        padding: 0.1em 1em 0.1em 2em;
        border: none;
        color: #000;
    }

    .main {
        display: block;
        display: flex;

        justify-content: center;
        box-shadow: 0 0.01em 0.5em .01em #e1e1e1;
        padding-top: 2em;
    }

    .main-line {
        display: flex;
        align-items: center;
        width: 85%;
        padding: 1em 2em;
        background: #fff;
        border-radius: .5em;
    }

}